{% extends 'base.html.twig' %}

    {% block title %}Hello HomeController!{% endblock %}
    {% block stylesheets %}
    <!-- CSS only -->

    {% endblock %}
    {% block javascripts %}
    <!-- JavaScript Bundle with Popper -->

    {% endblock %}

{% block body %}
    <div class="container">
    <h1>Gestion des chatons</h1>
        Le dossier Photos contient :
        <ul>
            {% for d in dossiers %}
            <li>
                <a href="{{ path("afficherDossier",{"nomDuDossier": d.filename}) }}">
                {{ d.filename }}</li>
                </a>
            {%  endfor %}
        </ul>
    </div>
{% endblock %}
